// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-font: 'Nunito', sans-serif;
$body-font: "Akagi Pro", sans-serif;
$dark-grey: rgba(0, 0, 0, 0.4);
$light-grey: rgba(48,48,48,.1);
$almost-blk: #3c3e3f;  // #2f3031;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fa-check-square {
  padding-right: 0.3em;
}

a {
  color: $almost-blk;
  text-decoration: none;
  &:hover {
    color: $almost-blk;
    text-decoration: none;
  }
}

.imgbox {
  display: grid;
  height: 100%;
}
.bg {
  max-width: 100%;
  margin: auto;
}

img {
  width: 100%;
}

.section {
  clear: both;
  padding: 0px;
  margin: 10px;
}

.current-topics {
  border-top: 1px $light-grey;
  margin: 0 2em;
  border-bottom: 1px solid $light-grey;
  .all-topics {
    text-align: center;
    font-size: 1.8em;
    margin-top: 1.7em;
    margin: 0 1em;
    padding-top: 1.5em;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }
}


#container {
  min-height: 100%;
  position: relative;
  height: 100%;
}

#body {
  padding-bottom: 50px;
}

.topic-img {
  width: 100%;
  // padding-bottom: 2em;
}

/*  ================ ABOUT PAGE ================ */

.about {
  text-align: center;
  margin: 2em 2em 0 2em;
  border-bottom: 1px solid $light-grey;
  font-family: $body-font;
  letter-spacing: .03em;
  line-height: 2.5em;
  padding: 2em 6em;
}

@media (max-width: 575px) {
  .about {
    padding: 2em 1em;
  }
  .name {
    font-size: 2em;
    padding: 0.5em 0em;
  }
  .current-topics {
    margin: 0em;
  }
}

.half-line {
  width: 50%;
}


/*  ================ FOOTER ================ */

.social-media {
  justify-content: flex-start;
  margin-left: auto;
  z-index: -1;
  .fa-facebook-f, .fa-github, .fa-linkedin-in, .fa-twitter, .fa-check-square {
    padding: 0 15px;
    align-items: center;
    color: #9ea0a6;
  }
}

/*  ================ TOPICS PAGE ================ */

.topic-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 2.5em;
  border-bottom: 1px solid $light-grey;
  letter-spacing: .02em;
  font-family: $main-font;
  height: auto;
}

P {
  font-size: 0.95em;
  line-height: 1.8;
}

.instructions {
  font-size: 0.7em;
  margin-top: 1.5em;
  padding-bottom: 0.5em;
}

.heading {
  text-align: center;
  padding: 0.5em 0em;
  color: whitesmoke;
  position: sticky;
  top: 35%;
  letter-spacing: 0.04em;
  z-index: 1;
  font-size: 3.5em;
}

.parallax-img {
  background-color: rgba(0, 0, 0, 0.5);
}

.row {
  padding-top: 1em;
}

.topic-img {
  filter: brightness(70%);
}

.img-responsive {
  filter: brightness(80%);
  &:hover {
    filter: brightness(100%);
  }
}

.mobile-heading {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  top: 50%;
  color: whitesmoke;
  letter-spacing: 0.07em;
  z-index: 1;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -36px;
}

.selfCenter {
  height: 100vh;
}

/*  ================ COLUMN SETUP ================ */

.col {
  display: block;
  float: left;
  margin: 1% 1% 1% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 100%;
}
.hometopics {
  padding: 0 0.2em;
  font-size: 2em;
  text-align: center;
  margin: 0.2em 0em;
}


.name {
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $almost-blk;
  font-family: $main-font;
  padding-bottom: 0.5em;

  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .name {
    font-size: 2.2em;
  }
}

.title {
  font-size: 0.7em;
  font-weight: 700;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  color: $almost-blk;
  font-family: $main-font;

  .topic {
    font-family: $body-font;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 6px;
    transform: translate(-50%, -50%);
    text-shadow: 0 1px 0 black;
    letter-spacing: 0.05em;
    color: whitesmoke;
    z-index: 1;
  }


  img {
    width: 100%;
  }

  &:hover {
    opacity: 1;
    filter: brightness(100%);
  }
}

.subtitle {
  width: 100%;
  float: right;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

/*  ================ NAVBAR ================ */
.navbar {
  width: 100%;
  text-align: center;
  height: 60px;
  display: inline-table;
}

.button {
  background: none;
  border: none;
  font-weight: bold;
  color: $almost-blk;
  transition: transform .2s;
  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}

/*  ================ GROUPING ================ */

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

/*  ================ GRID OF THREE ================ */

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}

/*  ================ GO FULL WIDTH AT LESS THAN 575 PIXELS ================ */

@media (max-width: 575px) {
  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }
}

.party-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin: 1em 6em 0 6em;
}

.quote-holder {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: center;
}

.icon {
  align-self: center;
  justify-self: center;
}

/*  ================ TABS ================ */

.tabs {
  border: 1px solid rgb(236, 236, 236);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  padding: 0.5rem 0.75rem;
  background-color: rgb(236, 236, 236);
}

.tab-list-active {
  background-color: white;
  border: 1px 0px white;
  border-width: 1px 0px 1px 1px;
}

.tab-content {
  background-color: white;
  border: solid white;
  border-width: 1px 1px 0 1px;
  padding: 0.5em 1.5em;
}


.card-header {
  padding-top: 1em;
}

.tab-list {
  margin: 0;
  padding-top: 8px;
  background-color: rgb(236, 236, 236);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid white;
  padding-left: 0;
}

.tab-list-item.tab-list-active {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


@media (min-width: 576px) and (max-width:768px) {
  .container {
    max-width: 570px;
    padding: 0px;
  }

  p {
    font-size: 0.8em;
  }

  .blockquote {
    font-size: 0.9em;
  }
}


/*  ================ ADMIN PAGE ================ */

form {
  padding: 2em 6em;
}

.admin {
  border-bottom: 2px solid $dark-grey;
  padding-bottom: 0.5em;
}

@media (max-width: 575px) {
  select#exampleFormControlSelect1 {
    width: 100%;
  }
  form {
    padding: 2em;
  }
}

.line {
  border-bottom: 2px solid $light-grey;
  margin: 0 2em;
 }

@media (min-width: 576px) {
  select#exampleFormControlSelect1 {
    width: 60%;
  }
}

button.btn.btn-primary {
  background-color: $dark-grey;
  border-color: $dark-grey;
  border-radius: 4px;
}

/*  ================ MOBILE PAGE ================ */

.admin-link {
  color: #9ea0a6;
  padding: 0.5em;
  bottom: 0;
  &:hover {
    text-decoration: none;
  }
}

.admin-div {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 2em;
}

@media (max-width: 575px) {
  .admin-div {
    position: initial;
  }
}

iframe#twitter-widget-1 {
  height: 80vh;
}
