.quotearea {
  color: white;
  text-align: center;
}

.startbutton {
  text-align: center;
  background-color: white;
  height: 20px;
  text-align: center;
  line-height: 0px;
  border: 1px, solid, black;
  padding: 20px;
  font-weight: 500;
}

.party-result {
  color: white;
  font-size: 12px;
  font-style: italic;
}

.match-photo {
  border-radius: 20px;
  box-shadow: 0 0 .5pt 2.5pt white;
}

.matched-with {
	display: grid;
	grid-template-columns:repeat(7, 1fr);
	justify-items: center;
	grid-template-areas:
	"a a a a a a a"
	". b b b b b ."
	". c c c c c ."
	". . d d d . ."
  ". e e e e e ."
	;
	grid-row-gap: .5em;
}

.announcement {
	grid-area: a;
	color: white;
	font-style: italic;
  text-align: center;
  padding-top: 1em;
}
.image {
	grid-area: b;
	width: 90%;
  margin-left: auto
}
.leader-result {
	grid-area: c;
}
.party-count {
	grid-area: d;
}

.cardFootButton {
  margin-top: 1em;
  color: white;
  grid-area: e;
}
